<?xml version="1.0"?>

<configuration>
  <appSettings>
    <!-- Konfiguration für Pizza-Projekte -->
    <!-- 
    <add key="AccessFileName" value="C:\Users\heigert\Documents\Visual Studio 2010\Projects\Pizza\data\Pizza.mdb"/>
    <add key="AccessFileName" value="C:\hm\sw1\Pizza\data\Pizza.mdb"/>
    <add key="AccessFileName" value="\\heigert8\sw1\Pizza\data\Pizza.mdb"/>
    -->
    <add key="AccessFileName" value="C:\hm\sw1\Pizza\data\Pizza.mdb"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    <globalization uiCulture="de" culture="de-DE"/>
  </system.web>

</configuration>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->